/*CSS*/
/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
  position: relative;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.6;
  color: #777777;
  background-image: url("../images/concrete_seamless.png");
  margin: 0;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

p {
	font-size: 1.25em;
}

ol,
ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

h1, h2, h3{
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2,
h3,
a {
	color: #777777;
}

h2,
h3 {
	margin-top: 0;
  color: #4AAAA5;
}

h2 {
	border-bottom: 2px solid #dddddd;
	padding-bottom: 15px;
}

h3 {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}




/* =================================
  Base Layout Styles
==================================== */

.container {
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
  /*background: white;*/
}

.container:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

/* ---- Navigation ---- */

.main-nav {
  float: right;
  height: auto;
  margin-top: 24px;
}

.main-nav a {
	padding-bottom: 2px;
}

.main-header .name {
  margin-top: 0;
  margin-bottom: 0;
}
.name {
  padding: 20px 20px;
  letter-spacing: -0.8px;
}

.name,
.main-nav,
.main-nav li {
  display: inline-block;
}

.name,
.main-nav li {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.name a
.main-nav a {
  padding: 10px 15px;
  display: block;
}

.main-nav a:hover {
	cursor: pointer;
	border-bottom: 1px solid #4AAAA5;
}


.main-header {
	background: #fff;
	margin-bottom: none;
  border-bottom: 1px solid #CCCCCC;
}

h1 {
  color: #fff;
  background-color: #4AAAA5;
}

.main-nav li {
  margin-left: 10px;
}

.main-nav li:nth-child(2),
.main-nav li:nth-child(3) {
  border-left: 1px solid #cccccc;
  padding-left: 5px;
  margin-left: 2px;
}



/* ---- Columns ---- */

.primary p {
		margin-top: 20px;
}

.profile_pic {
  max-width: 200px;
  max-height: 200px;
  float: left;
	margin-top: 18px;
  padding: 10px 20px 1px 0;
}

.icons {
  max-width: 50px;
  max-height: 50px;
	padding-bottom: 2px;
}

.icons:hover {
	border-bottom: solid 2px #4AAAA5;
}


.col {
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
  background-color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  padding: 20px;
}

.primary {
    flex-basis: 65%;
    height: inherit;
    margin-bottom: 50px;
}


.secondary {
  flex-basis: 30%;
  text-align: center;
  column-width: 270px;
  height: 165px;
}

.icon-holder {
	display: inline-block;
	border-top: 2px solid #dddddd;
	padding-top: 15px;
}

/* ---- Form Elements ---- */

input:focus {
	outline: 1px solid #4aaaa5;
}

textarea:focus {
	outline: 1px solid #4aaaa5;
}

#name,
#mail
 {
	width: 100%;
	height: 30px;
	border: 1px solid #dddddd;
	padding: 3px 3px;
}

#message {
	width: 100%;
	border: 1px solid #dddddd;
	height: 225px;
	padding: 1px 3px;
}

#submit {
	background-color: #4aaaa5;
	color: #fff;
	border: none;
	padding: 10px 30px;
	font-size: 18px;
	margin-top: 10px;
}

/* ---- Portfolio Images ---- */

.portfolio-header {
		margin: 0 40px;
}

.portfolio-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	text-align: center;
}

.portfolio-wrapper p {
	color: #fff;
	background-color: #4AAAA5;
	padding: 10px 0;
	margin-top: 140px;
}

.cars,
.planes,
.movies,
.sports,
.bands,
.games
{
	background-repeat: no-repeat;
	margin: 40px;
	width: 200px;
	height: 200px;
	flex-grow: 1;
}

.cars {
	background-image: url("../images/challengersm.png");
}

.planes {
	background-image: url("../images/109sm.jpg");
}

.movies {
	background-image: url("../images/cliffhangersm.jpg");
}

.sports {
	background-image: url("../images/kleskosm.jpg")
}

.bands {
	background-image: url("../images/roxymusicsm.jpg");
}

.games {
	background-image: url("../images/mwosm.jpg");
}








/* ---- Footer ---- */

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 11px;
  color: #777777;
  text-align: center;
  border-top: 8px solid #4AAAA5;
  background-color: #666666;
  padding: 30px;
}
